body {
  font-family: serif;

  /* shape */
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 100px;  /* shift content down from underneath banner */

  /* style */
  color: #111;

  /* font */
  font-size: 100%;

}

h1, h2, h3 {
  font-family: 'Butler', serif;
}

a {
  text-decoration: inherit; /* no underline */
}

img {
  width: 100%;
}

.center_pane {
  width: 640px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.post {
  font-family: serif;
}

.about p {
  font-style: italic;
}

.figcaption_prefix {
  font-weight: bold;
}

#admin_link_edit_post {

  /* position */
  position: fixed;
  top: 91px;
  right: 0;

  /* style */
  background: #fff;

}

ul#tags_index {
  /*list-style-type: none;*/
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
