{# ------------------------------------------------------------------------- #}
{# This template adds a banner to base.html                                  #}
{# ------------------------------------------------------------------------- #}


{% extends "posts/base.html" %}
{% load static %}  {# needed for logo #}

{% block banner %}

  <div id="banner">


    <div id="banner_left">
      <a href="{% url 'index' %}">
        <span id="title">Haphazard</span>
        <span id="subtitle"><br/>Thoughts of a Data Scientist</span>
      </a>
    </div>

    <div id="banner_right">
      <span id="logo"><img src="{% static 'img/K_white.svg' %}" /></span>
    </div>

  </div>

{% endblock %}
