{# ------------------------------------------------------------------------- #}
{# This is the main blog post page:                                          #}
{# - adds post-specific meta data                                            #}
{# - adds a "edit this post" link                                            #}
{# - loads blog post content                                                 #}
{#                                                                           #}
{# Required context:                                                         #}
{# - post: Post object                                                       #}
{# - user: (provided by default)                                             #}
{# ------------------------------------------------------------------------- #}


{% extends "posts/base_site.html" %}


{% block head %}

  <meta name="description" content="{{ post.title }}">
  <meta name="keywords" content="{% for tag in post.tags.all %}{{ tag }},{% endfor %}">

  {% include 'posts/mathjax.html' %}
  {% include 'posts/highlight.html' %}

{% endblock %}


{% block before_center_pane %}

  {% if user.is_staff and post.id %}
  <div id="admin_link_edit_post">
    [<a href="{% url 'admin:posts_post_change' post.id %}">edit this post</a>]
  </div>
  {% endif %}

{% endblock %}


{% block center_pane %}

  <div class="post">
    <h1>{{ post.title }}</h1>

    <div class="tags_list">
      {% if post.id and post.tags.count %}
        Tags:
        {% for tag in post.tags.all %}
          &nbsp;
          <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
      {% endif %}
    </div>

    {{ post.html }}
  </div>

{% endblock %}
