{# ------------------------------------------------------------------------- #}
{# This is a tag summary page     :                                          #}
{# - adds tag-specific meta data                                             #}
{# - displays list of posts tagged by the provided tag                       #}
{#                                                                           #}
{# Required context:                                                         #}
{# - tag: Post object                                                        #}
{# ------------------------------------------------------------------------- #}


{% extends "posts/base_site.html" %}


{% block head %}

  <meta name="description" content="Posts with tag: &quot;{{ tag.name }}&quot;">
  <meta name="keywords" content="{{ tag.name }}">

{% endblock %}


{% block center_pane %}

  <div class="tag">
    <h1>Posts with tag: &quot;{{ tag.name }}&quot;</h1>

    {% if tag.posts %}
        <ul>
        {% for post in tag.posts %}
            <li><a href="{% url 'post' post.name %}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
  </div>

{% endblock %}


