{# ------------------------------------------------------------------------- #}
{# This template creates a list of tags associated with a post.              #}
{#                                                                           #}
{# Required context:                                                         #}
{# - post: Post object                                                       #}
{# ------------------------------------------------------------------------- #}

<div class="tags_list">

  {% if post.id and post.tags.count %}

    Tags:
    {% for tag in post.tags.all %}
      &nbsp;
      <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
    {% endfor %}

  {% endif %}

</div>
