/******************************************************************************
This is a collection of some quick-n-dirty hacks to fix the admin page style
for the preview pane.
******************************************************************************/

label {
  color: #333;
}

label.required {
  font-weight: inherit;
  color: inherit;
}

textarea#id_markdown {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
}

#post_preview.post {
  all: initial;
  font-family: 'LatoWeb', sans-serif !important;
  display: block;
  width: 640px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#post_preview p {
  all: initial;
  font-size: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#post_preview ul {
  all: initial;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#post_preview li {
  all: initial;
}

#post_preview h1 {
  all: initial;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#post_preview h3 {
  all: initial;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#post_preview h2 {
  all: initial;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#post_preview h4 {
  all: initial;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

img.post_image {
  width: 100%;
}

code {
  color: #111;
}
